<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Make your link smlr!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body style="padding: 50px; vertical-align: middle">
<form action="addhtml" method="post">
    <div class="jumbotron">
        <h1 class="text-center">Попробуйте smlr!</h1>
        <p class="text-center">Этот сервис поможет вам сделать большие ссылки маленькими.
            Вставьте ссылку в поле ниже и нажмите кнопку smlr</p>
        <div class="col-lg-6">
            <div class="input-group text-center">
                <input type="text" class="form-control" placeholder="Вставьте сюда ссылку целиком (включая http://)"
                       name="link"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Smlr!</button>
                </span>
            </div>
        </div>
    </div>
</form>
</body>
</html>